In [2]:
import pandas as pd

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [3]:
df = pd.read_csv("df.csv")

In [4]:
df[[
    'happy_trans', 'angry_trans', 'nervous_trans', 'sad_trans'
]]

      happy_trans  angry_trans  nervous_trans  sad_trans
0               1            0              0          0
1               1            0              0          0
2               0            0              0          0
3               0            0              0          0
4               0            0              0          0
...           ...          ...            ...        ...
1625            0            0              0          0
1626            0            0              0          0
1627            0            0              0          0
1628            0            0              0          0
1629            0            0              0          0

[1630 rows x 4 columns]

In [5]:
df.sad_trans.value_counts()

0    1602
1      28
Name: sad_trans, dtype: int64

In [6]:
df["label"] = df["sad_trans"] + df["happy_trans"] + df["angry_trans"] + df["nervous_trans"]

In [7]:
df.label.value_counts()

1    583
0    521
2    358
3    137
4     25
5      6
Name: label, dtype: int64

In [8]:
df[df["label"] == 1][[
    'happy_trans', 'angry_trans', 'nervous_trans', 'sad_trans'
]]

      happy_trans  angry_trans  nervous_trans  sad_trans
0               1            0              0          0
1               1            0              0          0
8               0            0              1          0
9               0            0              1          0
10              0            0              1          0
...           ...          ...            ...        ...
1615            1            0              0          0
1616            1            0              0          0
1617            1            0              0          0
1618            1            0              0          0
1619            1            0              0          0

[583 rows x 4 columns]

In [9]:
df[df["label"] == 2][[
    'happy_trans', 'angry_trans', 'nervous_trans', 'sad_trans'
]]

      happy_trans  angry_trans  nervous_trans  sad_trans
16              1            0              1          0
90              1            0              1          0
135             0            1              1          0
136             0            1              1          0
137             0            1              1          0
...           ...          ...            ...        ...
1527            1            0              1          0
1528            1            0              1          0
1529            1            0              1          0
1530            1            0              1          0
1544            1            0              1          0

[358 rows x 4 columns]

In [10]:
df.iloc[0][['delta0', 'delta1', 'delta2', 'delta3', 'delta4', 'delta5', 'lowAlpha0', 'lowAlpha1', 
                                 'lowAlpha2', 'lowAlpha3', 'lowAlpha4', 'lowAlpha5', 'highAlpha0', 'highAlpha1', 
                                 'highAlpha2', 'highAlpha3', 'highAlpha4', 'highAlpha5', 'lowBeta0', 'lowBeta1', 
                                 'lowBeta2', 'lowBeta3', 'lowBeta4', 'lowBeta5', 'highBeta0', 'highBeta1', 'highBeta2',
                                 'highBeta3', 'highBeta4', 'highBeta5', 'lowGamma0', 'lowGamma1', 'lowGamma2', 'lowGamma3', 
                                 'lowGamma4', 'lowGamma5', 'middleGamma0', 'middleGamma1', 'middleGamma2', 
                                 'middleGamma3', 'middleGamma4', 'middleGamma5', 'theta0', 'theta1', 'theta2', 
                                 'theta3', 'theta4', 'theta5']]

delta0         -0.056
delta1         -0.478
delta2         -0.512
delta3          -0.42
delta4         -0.447
delta5         -0.438
lowAlpha0      -0.292
lowAlpha1      -0.422
lowAlpha2      -0.422
lowAlpha3      -0.389
lowAlpha4      -0.067
lowAlpha5      -0.347
highAlpha0     -0.367
highAlpha1     -0.469
highAlpha2     -0.502
highAlpha3     -0.239
highAlpha4     -0.422
highAlpha5     -0.259
lowBeta0        -0.29
lowBeta1       -0.361
lowBeta2       -0.504
lowBeta3       -0.202
lowBeta4       -0.322
lowBeta5       -0.262
highBeta0      -0.507
highBeta1      -0.528
highBeta2       -0.53
highBeta3      -0.512
highBeta4      -0.521
highBeta5      -0.487
lowGamma0      -0.513
lowGamma1      -0.522
lowGamma2      -0.532
lowGamma3      -0.515
lowGamma4      -0.512
lowGamma5      -0.359
middleGamma0     4.08
middleGamma1    2.893
middleGamma2   -0.213
middleGamma3    2.615
middleGamma4    1.353
middleGamma5   -0.102
theta0          2.047
theta1         -0.109
theta2         -0.346
theta3          0.802
theta4          1.356
theta5          0.151
Name: 0, dtype: object

In [11]:
import numpy as np

In [12]:
np.array(df.iloc[0][['delta0', 'delta1', 'delta2', 'delta3', 'delta4', 'delta5', 'lowAlpha0', 'lowAlpha1', 
                                 'lowAlpha2', 'lowAlpha3', 'lowAlpha4', 'lowAlpha5', 'highAlpha0', 'highAlpha1', 
                                 'highAlpha2', 'highAlpha3', 'highAlpha4', 'highAlpha5', 'lowBeta0', 'lowBeta1', 
                                 'lowBeta2', 'lowBeta3', 'lowBeta4', 'lowBeta5', 'highBeta0', 'highBeta1', 'highBeta2',
                                 'highBeta3', 'highBeta4', 'highBeta5', 'lowGamma0', 'lowGamma1', 'lowGamma2', 'lowGamma3', 
                                 'lowGamma4', 'lowGamma5', 'middleGamma0', 'middleGamma1', 'middleGamma2', 
                                 'middleGamma3', 'middleGamma4', 'middleGamma5', 'theta0', 'theta1', 'theta2', 
                                 'theta3', 'theta4', 'theta5']])

array([-0.056, -0.478, -0.512, -0.42, -0.447, -0.438, -0.292, -0.422,
       -0.422, -0.389, -0.067, -0.347, -0.367, -0.469, -0.502, -0.239,
       -0.422, -0.259, -0.29, -0.361, -0.504, -0.202, -0.322, -0.262,
       -0.507, -0.528, -0.53, -0.512, -0.521, -0.487, -0.513, -0.522,
       -0.532, -0.515, -0.512, -0.359, 4.08, 2.893, -0.213, 2.615, 1.353,
       -0.102, 2.047, -0.109, -0.346, 0.802, 1.356, 0.151], dtype=object)

In [13]:
np.array(df.iloc[0][['delta0', 'delta1', 'delta2', 'delta3', 'delta4', 'delta5', 'lowAlpha0', 'lowAlpha1', 
                                 'lowAlpha2', 'lowAlpha3', 'lowAlpha4', 'lowAlpha5', 'highAlpha0', 'highAlpha1', 
                                 'highAlpha2', 'highAlpha3', 'highAlpha4', 'highAlpha5', 'lowBeta0', 'lowBeta1', 
                                 'lowBeta2', 'lowBeta3', 'lowBeta4', 'lowBeta5', 'highBeta0', 'highBeta1', 'highBeta2',
                                 'highBeta3', 'highBeta4', 'highBeta5', 'lowGamma0', 'lowGamma1', 'lowGamma2', 'lowGamma3', 
                                 'lowGamma4', 'lowGamma5', 'middleGamma0', 'middleGamma1', 'middleGamma2', 
                                 'middleGamma3', 'middleGamma4', 'middleGamma5', 'theta0', 'theta1', 'theta2', 
                                 'theta3', 'theta4', 'theta5']]).reshape(-1, 6)

array([[-0.056, -0.478, -0.512, -0.42, -0.447, -0.438],
       [-0.292, -0.422, -0.422, -0.389, -0.067, -0.347],
       [-0.367, -0.469, -0.502, -0.239, -0.422, -0.259],
       [-0.29, -0.361, -0.504, -0.202, -0.322, -0.262],
       [-0.507, -0.528, -0.53, -0.512, -0.521, -0.487],
       [-0.513, -0.522, -0.532, -0.515, -0.512, -0.359],
       [4.08, 2.893, -0.213, 2.615, 1.353, -0.102],
       [2.047, -0.109, -0.346, 0.802, 1.356, 0.151]], dtype=object)